@tailwind base;
@tailwind components;
@tailwind utilities;

.score {
  animation-name: score;
  animation-duration: 600ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.striped-background {
  background: repeating-linear-gradient(to right,
      red,
      red 50%,
      white 50%,
      white);
  background-size: 91px;
  /* Adjust height as needed */
  width: 100%;
  /* Adjust width as needed */
}

.found-character {
  position: relative;
}

.found-character img {
  opacity: .1;
}

.found-character::before {
  content: "❌";
  position: absolute;
  left: 0%;
  top: 20%;
  font-size: 43px;
}

.striped-text {
  background: repeating-linear-gradient(to right,
      red,
      red 50%,
      white 50%,
      white);
  background-size: 60px;
  color: transparent;
  background-clip: text;
}

.roll-down {
  transform-origin: bottom;
  animation-name: roll-down;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.aspect-ratio-custom {
  aspect-ratio: 3000/1902;
}

.dissapear {
  display: flex;
  animation-name: dissapear;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  transform-origin: bottom;
  animation-fill-mode: forwards;
}

.text-shadow-lg {
  text-shadow: 4px 3px 2px black;
}

.text-shadow {
  text-shadow: 1px 1px 1px black;
}

@keyframes score {
  0% {
    color: white;
    transform: scale(1);
  }

  100% {
    color: red;
    transform: scale(1.5);
  }

}

@keyframes roll-down {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes dissapear {
  0% {
    transform: scaleY(0);
    opacity: 1;
  }

  10% {
    transform: scaleY(1);
    opacity: 1;
  }

  75% {
    transform: scaleY(1);
    opacity: 1;
  }

  100% {
    transform: scaleY(0);
    display: none;
    opacity: 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
